.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity $timer $timing-function;
    visibility: $timer $timing-function;
}