.footer-address {
    display: flex;
    font-style: normal;
    color: $white-text-color;
    width: 231px;

    &:hover,
    &:focus {
    color: $accent-color;
        }


&__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $white-text-color;
    width: 231px;
}


&__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $footer-contact-color;

&:hover,
&:focus {
    color: $accent-color;
}
}
}