* {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

body {
    font-family: 'Roboto', sans-serif;
    color: $main-text-color;
    font-weight: 500;
    letter-spacing: 0.03em;
}

@mixin button {
    width: 200px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $white-text-color;
    padding: 10px 19px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

&:hover,&:focus {
        background-color: $button-hover-color;
    }
}

@mixin flexbox{
            display: flex;
            align-items: center;
        justify-content: center;
}



