.hero-section {
    background-color: $backgroud-color;
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1200px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-backgroung-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

.hero-section__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;
    width: 696px;
    margin-bottom: 30px;
}

.hero-section__button {
    @include button
}

}